In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from lightgbm import LGBMClassifier
import lightgbm as lgb
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot

In [2]:
# importing data after performing EDA and Feature Engineering
train = pd.read_csv("train1.csv")
test = pd.read_csv("test1.csv")

C:\Users\shivam\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (285,288,289,296,300,301,302,303,304,306,307,308,309,310,311,312,313) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\shivam\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (284,287,288,295,299,300,301,302,303,305,306,307,308,309,310,311,312) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
print(train.shape)
print(test.shape)

(354324, 320)
(236216, 319)

In [ ]:
# From Eda we have seen that there are outliers in some of columns

In [4]:
##replacing outliers with median

In [5]:
#fuction to replace outliers with median
def replaceoutliers(x,value): 
    mean = float(train[x].median())
    train[x] = np.where(train[x] > value, mean, train[x])
    mean = float(test[x].median())
    test[x] = np.where(test[x] > value, mean, test[x])

In [6]:
#fuction to replace outliers with median
def replaceoutliers_less(x,value): 
    mean = float(train[x].median())
    train[x] = np.where(train[x] < value, mean, train[x])
    mean = float(test[x].median())
    test[x] = np.where(test[x] < value, mean, test[x])

In [7]:
# for c columns
replaceoutliers('C1',2200)
replaceoutliers('C2',3000)
replaceoutliers('C4',1500)
replaceoutliers('C6',1400)
replaceoutliers('C7',1400)
replaceoutliers('C8',2000)
replaceoutliers('C10',2000)
replaceoutliers('C11',2000)
replaceoutliers('C12',900)

In [8]:
# for d columns
replaceoutliers_less('D4',0)
replaceoutliers_less('D6',0)
replaceoutliers_less('D11',0)
replaceoutliers_less('D12',0)
replaceoutliers_less('D14',0)
replaceoutliers_less('D15',0)

In [9]:
## NULL value Percentage

In [10]:
# calcuating Null value percenatge
total = train.isnull().sum().sort_values(ascending = False)
percent = (train.isnull().sum()/train.isnull().count()*100).sort_values(ascending = False)
missing_train_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_train_data.head(30)

           Total    Percent
id_24     351487  99.199320
id_25     351248  99.131868
id_07     351237  99.128764
id_08     351237  99.128764
id_26     351232  99.127352
id_21     351232  99.127352
id_27     351228  99.126223
id_22     351228  99.126223
id_23     351228  99.126223
Logdist2  331717  93.619681
D7        330931  93.397851
id_18     327049  92.302243
D13       317080  89.488717
D14       316849  89.423522
D12       315477  89.036306
id_03     314400  88.732347
id_04     314400  88.732347
D6        310333  87.584527
id_33     310005  87.491957
D8        309214  87.268715
D9        309214  87.268715
id_09     309214  87.268715
id_10     309214  87.268715
id_30     307453  86.771712
id_32     307441  86.768325
id_34     307327  86.736151
id_14     305950  86.347524
V140      304836  86.033122
V161      304836  86.033122
V156      304836  86.033122

In [11]:
# replace high percentage null value features which have less interseting results when performed EDA
train.drop(['id_21','id_22','id_23','id_24','id_25','id_26','id_27','id_07','id_08','Logdist2','D7'],axis =1,inplace = True)
test.drop(['id_21','id_22','id_23','id_24','id_25','id_26','id_27','id_07','id_08','Logdist2','D7'],axis =1,inplace = True)

In [12]:
## Checking Skewnwss

In [13]:
#sort skewness value in decreasing order
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df = train.skew(axis = 0, skipna = True)
df.sort_values(ascending=False)

V311                 303.457524
V129                 243.936487
V309                 229.943855
V206                 180.274756
V319                 168.038493
V266                 157.560669
V334                 140.929155
V131                 111.946856
V227                 100.807054
V321                 100.624658
V214                  97.554981
V312                  93.077301
V276                  90.251993
V268                  87.678864
C3                    85.326593
V245                  77.156409
V278                  71.444561
V335                  61.290265
V136                  55.095104
V221                  53.110766
V277                  52.515628
V320                  52.028807
V292                  50.636890
V291                  50.065154
V222                  45.679212
V267                  44.554813
V256                  41.422749
V254                  40.554981
V216                  39.982803
C12                   39.281428
V270                  32.929719
V161                  32.868640
C7                    31.864512
V224                  31.747706
V265                  31.333545
V130                  31.205446
V111                  31.113424
V101                  30.793020
V293                  30.749870
V132                  30.437620
V279                  30.404282
V95                   30.401892
V229                  30.333800
V316                  30.294259
V44                   30.101019
V126                  29.959490
V272                  29.854154
V306                  29.483498
C10                   27.998935
V225                  27.912321
V102                  27.283451
V133                  27.169015
C8                    27.066482
V271                  26.903384
V264                  26.647560
V103                  26.359536
V134                  26.336413
V96                   26.314985
V162                  26.065939
V243                  26.031089
V127                  26.010613
V318                  25.823641
V295                  25.659526
V97                   25.648336
V128                  25.484344
V226                  25.364471
V208                  25.359691
V280                  25.098060
V308                  24.892318
V317                  24.856300
V56                   24.222009
V273                  24.085596
V45                   24.073119
V294                  24.054928
V37                   24.000688
V233                  23.961886
V307                  23.948464
V310                  23.448249
V232                  23.283845
V219                  22.512688
V138                  22.087337
C4                    21.463228
V207                  21.261423
V105                  21.138536
V274                  20.491710
V261                  20.407078
V218                  20.139550
V298                  20.094156
V166                  19.657562
V172                  19.559734
V296                  19.091639
V38                   18.756112
C2                    18.674340
C11                   18.237398
V86                   17.804742
C1                    17.246416
V338                  17.057905
V200                  16.946651
V258                  16.656427
C6                    16.651478
C14                   16.415233
V201                  15.785054
V198                  15.599215
V187                  15.570355
V87                   15.312855
V78                   15.216114
V202                  14.737654
V210                  14.663763
V190                  14.497533
V313                  14.178525
V188                  13.844601
V257                  13.765047
V77                   13.690423
V178                  13.468698
V215                  13.343010
V297                  13.285637
V179                  13.234936
V283                  13.198718
V213                  13.110724
V114                  13.109843
V212                  12.763907
V285                  12.421908
V23                   12.277267
V189                  12.249287
V315                  12.209640
V209                  11.923620
V204                  11.805012
V244                  11.382254
V99                   11.320092
V331                  11.226515
V164                  11.123427
V242                  11.051989
V203                  10.651200
V314                  10.451400
V55                   10.410388
V301                  10.351819
V220                  10.343736
V146                  10.100625
V239                  10.054673
V223                  10.034298
V281                  10.015300
V147                   9.960062
V332                   9.908127
V323                   9.880985
V262                   9.795653
V109                   9.790055
V170                   9.300875
V24                    9.022188
V8                     9.015552
C13                    8.966401
V47                    8.942073
V287                   8.916452
V180                   8.744963
V169                   8.621561
V156                   8.596301
V46                    7.861935
V184                   7.280968
V9                     7.176035
V6                     7.027849
V2                     6.976760
V149                   6.907424
V165                   6.855337
V171                   6.752734
V115                   6.656556
V40                    6.546662
V158                   6.535816
V234                   6.357847
V124                   6.151378
V139                   6.059289
V81                    6.035919
V39                    5.996383
C5                     5.778027
V80                    5.758478
V140                   5.676332
C9                     5.664268
V7                     5.574640
V3                     5.516421
V284                   5.488708
D13                    5.437053
V303                   5.186468
isFraud                5.047362
V60                    4.898621
D3                     4.537546
V59                    4.174694
V197                   4.052630
V79                    3.945936
V58                    3.855756
V282                   3.831357
V64                    3.806841
V85                    3.733089
V251                   3.716664
V289                   3.503848
V174                   3.451564
D5                     3.408306
V43                    3.082397
V159                   3.058825
V52                    3.038079
V145                   3.022070
V160                   3.000599
V34                    2.937424
V150                   2.855991
V63                    2.834430
V74                    2.810042
id_14                  2.707511
V73                    2.630975
V26                    2.611607
V15                    2.601105
D14                    2.590635
V288                   2.575401
id_05                  2.480000
D12                    2.475206
V42                    2.447533
V51                    2.408839
V33                    2.316919
D6                     2.262930
D8                     2.226623
V152                   2.211633
id_18                  2.119257
V94                    2.109147
card3                  2.037900
id_02                  1.832475
D1                     1.807807
V260                   1.716529
D10                    1.392013
V30                    1.290605
V67                    1.285879
V91                    1.250188
V70                    1.241428
D4                     1.179351
V49                    1.129277
D11                    1.052657
D2                     1.016871
Logdist1               1.012154
D15                    0.960333
V69                    0.801074
V29                    0.777589
V48                    0.773313
V90                    0.748067
id_32                  0.740419
V62                    0.648546
V83                    0.604853
V10                    0.422387
LogTransactionAmt      0.412326
addr1                  0.371581
V20                    0.325857
V5                     0.265523
id_19                  0.200143
V36                    0.181089
V76                    0.178688
id_17                  0.139408
TransactionDT          0.132720
V54                    0.101476
V13                    0.090477
V35                    0.037739
V75                    0.018146
TransactionID          0.001637
card1                 -0.037128
V12                   -0.066286
V53                   -0.085361
card2                 -0.202107
id_20                 -0.314688
V4                    -0.403137
D9                    -0.582888
V61                   -0.583262
hour                  -0.695561
V82                   -0.725067
V19                   -0.866438
V66                   -0.884875
card5                 -1.224360
id_13                 -1.253877
id_03                 -1.755430
V25                   -2.734904
id_01                 -3.660485
id_06                 -3.894101
id_11                 -4.807214
id_09                 -5.080909
id_04                -14.450091
addr2                -15.574823
id_10                -19.410465
V65                  -53.860059
dtype: float64

In [14]:
train.drop(['V311','V129','V309','V206','V319','V266','V334','V131','V227','V321'],axis =1,inplace = True)
test.drop(['V311','V129','V309','V206','V319','V266','V334','V131','V227','V321'],axis =1,inplace = True)

In [15]:
train.shape

(354324, 299)

In [16]:
## Deleting highly correlated features

In [17]:
# dropping correlated d columns
columns = ['D2','D6','D12']
train.drop(columns,inplace = True,axis =1)
test.drop(columns,inplace = True,axis =1)

In [18]:
#dropping correlated c columns
columns = ['C2','C6','C11','C10']
train.drop(columns,inplace = True,axis =1)
test.drop(columns,inplace = True,axis =1)

In [19]:
# less relevant according to EDA
del train['DeviceInfo']
del test['DeviceInfo']

In [20]:
## Handling NULL values by repalcing them with mean,median mode

In [21]:
for i in train.columns:
    if 'M' in i:
        train[i].fillna(train[i].mode()[0],inplace=True)

In [22]:
for i in test.columns:
    if 'M' in i:
        test[i].fillna(test[i].mode()[0],inplace=True)

In [23]:
for i in train.columns:
    if train[i].dtypes=="float64":
        train[i].fillna(train[i].mean(),inplace=True)

In [24]:
for i in test.columns:
    if test[i].dtypes=="float64":
        test[i].fillna(test[i].mean(),inplace=True)

In [25]:
train.fillna(train.select_dtypes(include='object').mode().iloc[0], inplace=True)
test.fillna(test.select_dtypes(include='object').mode().iloc[0], inplace=True)

In [26]:
#Encoding of features using one hot and label--------------

In [27]:
objList = train.select_dtypes(include ="object")
for feat in objList:
    print(feat,"->",train[feat].nunique())

ProductCD -> 5
card4 -> 4
card6 -> 2
M1 -> 2
M2 -> 2
M3 -> 2
M4 -> 3
M5 -> 2
M6 -> 2
M7 -> 2
M8 -> 2
M9 -> 2
id_12 -> 2
id_15 -> 3
id_16 -> 2
id_28 -> 2
id_29 -> 2
id_30 -> 75
id_31 -> 122
id_33 -> 221
id_34 -> 4
id_35 -> 2
id_36 -> 2
id_37 -> 2
id_38 -> 2
DeviceType -> 2
P_parent_emaildomain -> 44
R_parent_emaildomain -> 45

In [28]:
objList = test.select_dtypes(include ="object")
for feat in objList:
    print(feat,"->",test[feat].nunique())

ProductCD -> 5
card4 -> 4
card6 -> 2
M1 -> 2
M2 -> 2
M3 -> 2
M4 -> 3
M5 -> 2
M6 -> 2
M7 -> 2
M8 -> 2
M9 -> 2
id_12 -> 2
id_15 -> 3
id_16 -> 2
id_28 -> 2
id_29 -> 2
id_30 -> 72
id_31 -> 121
id_33 -> 182
id_34 -> 3
id_35 -> 2
id_36 -> 2
id_37 -> 2
id_38 -> 2
DeviceType -> 2
P_parent_emaildomain -> 44
R_parent_emaildomain -> 45

In [29]:
print(train.shape,test.shape)

(354324, 291) (236216, 290)

In [30]:
objList = ['ProductCD','card4','M4']
for feat in objList:
        dummies = pd.get_dummies(train[[feat]])
        train= pd.concat([train, dummies], axis=1)
        del(train[feat])
        dummies = pd.get_dummies(test[[feat]])
        test= pd.concat([test, dummies], axis=1)
        del(test[feat])

In [31]:
print(train.shape,test.shape)

(354324, 300) (236216, 299)

In [32]:
y_train = train['isFraud'].copy()

In [33]:
del train['isFraud']

In [34]:
# label encoding of categorical features
from sklearn import preprocessing
for f in train.columns:
    if train[f].dtype=='object' or test[f].dtype=='object': 
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(train[f].values) + list(test[f].values))
        train[f] = lbl.transform(list(train[f].values))
        test[f] = lbl.transform(list(test[f].values))

In [35]:
train['isFraud'] = y_train

In [36]:
#saving files
train.to_csv('trainPreprocessed.csv',index=False)
test.to_csv('testPreprocessed.csv',index=False)

In [37]:
#end------------------------------------